body {
  background-image: url("https://media-float-capital.fra1.cdn.digitaloceanspaces.com/public/pixel-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: to keep the background fixed during scrolling */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
